// Options
//
// Quickly modify global styling by enabling or disabling optional features.


//** UI things
$modal-lg-fullscreen:			  true !default;
$modal-md-fullscreen:			  false !default;
$modal-sm-fullscreen:			  false !default;